<?xml version="1.0" ?>
<!-- =================================================================================== -->
<!-- |    This document was written by hand                                            | -->
<!-- |    EDITING THIS FILE BY HAND IS NOT RECOMMENDED                                 | -->
<!-- =================================================================================== -->
<robot name="box_with_hole" xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="Orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <!-- Now we can start using the macros xacro:included above to define the actual omnipointer -->
  <!-- The first use of a macro.  This one was defined in youbot_base/base.urdf.xacro above.
       A macro like this will expand to a set of link and joint definitions, and to additional
       Gazebo-related extensions (sensor plugins, etc).  The macro takes an argument, name,
       that equals "base", and uses it to generate names for its component links and joints
       (e.g., base_link).  The xacro:included origin block is also an argument to the macro.  By convention,
       the origin block defines where the component is w.r.t its parent (in this case the parent
       is the world frame). For more, see http://www.ros.org/wiki/xacro -->
  <!-- foot for arm-->
  <link name="world"/>
  <link name="box_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <!-- <box size="0.1143 0.1143 0.0545"/> -->
        <mesh filename="package://blackdrops/meshes/peg_and_hole/block_with_hole_150.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://blackdrops/meshes/peg_and_hole/block_with_hole_150.stl" scale="0.001 0.001 0.001"/>
        <!-- <box size="0.1143 0.1143 0.0545"/> -->
      </geometry>
    </collision>
    <inertial>
      <!-- CENTER OF MASS -->
      <origin rpy="0 0 0" xyz="0.075 0.075 0.05"/>
      <mass value="0.2"/>
      <!-- box inertia: 1/12*m(y^2+z^2), ... -->
      <inertia ixx="0.000267245666667" ixy="0" ixz="0" iyy="0.000267245666667" iyz="0" izz="0.000435483"/>
    </inertial>
  </link>
  <!-- joint between world and box_link -->
  <joint name="box_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.675 -0.075 0.603"/>
    <parent link="world"/>
    <child link="box_link"/>
  </joint>
</robot>
